/* 
    Created on : Jul 31, 2022, 10:18:59 PM
    Author     : winston
*/

body {
    background-color: #010101;
    color: #d1d1d1;
    font-family: Ubuntu, "times new roman", times, roman, serif;
}